
<h1 style="text-align:center"><h1 style="color:blue">Jojo,Sam & Adi's File Sharing Portal </h1>
  <body style="background-color:darkgrey">

  <a href="http://localhost:3000/test/page10"><img style="border=5   solid  yellow"src="images\Android.jpg" height="140" width="280" alt="image1">
    <img    style="border=25   solid  yellow"
            src="images\Android.jpg" height="140" width="280" alt="image">
    <a href="http://localhost:3000/test/page7"><img style="border=5   solid  yellow"src="images\apple_black_logo_wallpaper_hd-1440x900.jpg" height="140" width="280" alt="image1">
    <img    style="border=45   solid  yellow"
            src="images\apple_black_logo_wallpaper_hd-1440x900.jpg" height="140" width="280" alt="image">
      <a href="http://localhost:3000/test/page4"><img style="border=5   solid  yellow"src="images\game.jpg" height="140" width="280" alt="image1">
    <img    style="border=65   solid  yellow"
            src="images\best-pc-gamer-cases-4.jpg" height="140" width="200" alt="image"><br><br>