<h1>Test#page9</h1>
<p>Find me in app/views/test/page9.html.erb</p>



<td>
  <a href="http://localhost:3000/test/page7"><center>Page 1</center><ref="http://localhost:3000/test/page8"><center>Page 2</center></a>
</td>