<h1 style="text-align:center"><h1 style="color:blue">Welcome To The Android Portion</h1>
  <body style="background-color:darkgrey">
  <a href="http://www.appbrain.com/app/viber/com.viber.voip"><img style="border=5 solid yellow" src="images\viber.png"height="140" width="200" alt="image">
    <a href="http://www.appbrain.com/app/chrome-dev/com.chrome.dev   "><img style="border=25 solid yellow" src="images\chrome.png"height="140" width="200" alt="image">
      <a href="http://www.appbrain.com/app/swift-wifi/mobi.swift.wifi.master "><img style="border=45 solid yellow" src="images\swift-wifi.png"height="140" width="200" alt="image">
        <a href="http://www.appbrain.com/app/mp3-music-downloader/music.toolmp3.downloadcopyleftapp"><img style="border=65 solid yellow" src="images\mp3-downloader.png"height="140" width="200" alt="image">
          <a href="http://www.appbrain.com/app/mobile-optimizer-cleaner/com.mdroidapps.optimizer"><img style="border=85 solid yellow" src="images\optimizer.png"height="140" width="200" alt="image"><br>
            <a href="http://www.appbrain.com/app/adobe-acrobat-dc-%E2%80%93-pdf-reader/com.adobe.reader"><img style="border=105 solid yellow" src="images\pdf readeer.png"height="140" width="200" alt="image">
              <a href="http://www.appbrain.com/app/google-drive/com.google.android.apps.docs"><img style="border=125 solid yellow" src="images\drive.png"height="140" width="200" alt="image">
                <a href="http://www.appbrain.com/app/smart-voice-recorder/com.andrwq.recorder"><img style="border=145 solid yellow" src="images\recorder.png"height="140" width="200" alt="image">
                  <a href="http://www.appbrain.com/app/cm-launcher-boost-secure/com.ksmobile.launcher"><img style="border=165 solid yellow" src="images\cm-launcher.png"height="140" width="200" alt="image">
                    <a href="http://www.appbrain.com/app/file-manager-%28explorer%29/com.rhmsoft.fm"><img style="border=185 solid yellow" src="images\file-manager.png"height="140" width="200" alt="image">

                      <td>
                        <a href="http://localhost:3000/test/page10"><center>Page 1</center><a href="http://localhost:3000/test/page12"><center>Page 3</center> </a>
                      </td>