<h1 style="text-align:center"><h1 style="color:green">About</h1>
  <body style="background-color:darkgrey">
  <h2 style="color:seablue"><em>Welcome To Jojo,Sam & Adi's File Sharing Portal's About Page...If You Are Here You Sure Wanted To Know The Know About Of What This File Sharing Portal Would Consist...This Portal Will Contain PC Game's With Their Cover Pictures & Their Download Links If You Are Interested In Downloading Them,Plus They Would Be Free To Download...This Portal Would Also Contain IOS Applications Which You Can Download By Clicking The App You Want To Download By Simply Clicking On The Picture Of The Application You Want To...Plus,Can Download Android Applications By Clicking On The Picture Of The Application Of Android You Want To Download.</em> </h2>
