<h1>Test#page6</h1>
<p>Find me in app/views/test/page6.html.erb</p>


<td>
  <a href="http://localhost:3000/test/page4"><center>Page 1</center><a href="http://localhost:3000/test/page5"><center>Page 2</center> </a>
</td>